<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.our_planner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ourplanner">
        <activity
            android:name=".ui.calendar.CreateEventActivity"
            android:exported="false"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".ui.calendar.EditEventActivity"
            android:exported="false"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".ui.user.ForgotPasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName=".ui.user.LoginActivity" />
        <activity
            android:name=".ui.user.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:parentActivityName=".ui.user.LoginActivity" />
        <activity
            android:name=".NavigationDrawer"
            android:exported="true"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.Ourplanner.NoActionBar" />
        <activity
            android:name=".ui.user.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_sign_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.groups.CreateGroupActivity"
            android:exported="false"
            android:label="@string/create_group" />
        <activity
            android:name=".ui.groups.EditGroupActivity"
            android:exported="false"
            android:label="@string/edit_group" />
        <activity
            android:name=".ui.calendar.comments.CommentsActivity"
            android:exported="true"
            android:label="Show Comments"
            android:parentActivityName=".NavigationDrawer" />
    </application>

</manifest>